{{ form_start(form) }}
<div class="row mt-3 mb-3">
    <div class="col-12 mb-3">
        {{ form_label(form.label, 'Titre de la question') }}
        <div> {{ form_widget(form.label) }} </div>
    </div>
    <div class="col-12 mb-3">
        {{ form_label(form.answer, 'Détaillez le contenu de la réponse') }}
        <div> {{ form_widget(form.answer.content) }} </div>
    </div>
    <div class="col-12">
        {{ form_label(form.keywords, 'Ajoutez des mots clefs (choisissez bien)') }}
        <div> {{ form_widget(form.keywords) }} </div>
    </div>
</div>
<button class="btn btn-success mt-3 mb-3">Envoyer</button>
{{ form_end(form) }}
